<ion-content [fullscreen]="true" class="ion-padding">

  <img class="icon-class ion-margin" src="./../../assets/img/tel.png" alt="icono" height="120" width="120"/>

  <ion-item>
    <ion-label position="floating">Telefono</ion-label>
    <ion-input type="number" [(ngModel)]="phoneNumber"></ion-input>
  </ion-item>

  <ion-button class="button-margin-login-class"  shape="round" expand="block" (click)="butonMenu()">Ingresar</ion-button>
</ion-content>
