<ion-content [fullscreen]="true" class="ion-padding">

  <img class="icon-class ion-margin" src="./../../assets/img/MakurumaLogo.png" alt="icono" height="140" width="140"/>

  <ion-item>
    <ion-label position="floating" >Correo</ion-label>
    <ion-input [(ngModel)]="correo"></ion-input>
  </ion-item>

  <ion-button class="button-margin-login-class"  shape="round" expand="block" (click)="butonSms()">Ingresar</ion-button>
</ion-content>