<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Tutorias
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-searchbar placeholder="Buscar"></ion-searchbar>

    <ion-list>
        <ion-list-header>
            Resultados de la busqueda...
        </ion-list-header>

        <ion-item>
            <ion-avatar slot="start">
                <img src="./../../assets/img/skills.png">
            </ion-avatar>
            <ion-label style="width:300px">
                <h2>Juan Perez</h2>
                <p>Matematicas, Programacion</p>
            </ion-label>
            <ion-label slot="end" style="color:crimson;text-align: right;">
                <h3 style="font-size:17px;font-weight: bold;">300 Pts.</h3>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-avatar slot="start">
                <img src="./../../assets/img/skills.png">
            </ion-avatar>
            <ion-label style="width:300px">
                <h2>Maria Ordonez</h2>
                <p>Programacion, Java</p>
            </ion-label>
            <ion-label slot="end" style="color:crimson;text-align: right;">
                <h3 style="font-size:17px;font-weight: bold;">270 Pts.</h3>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-avatar slot="start">
                <img src="./../../assets/img/skills.png">
            </ion-avatar>
            <ion-label style="width:300px">
                <h2>Eliecer Guzman</h2>
                <p>Algoritmos, Programacion</p>
            </ion-label>
            <ion-label slot="end" style="color:crimson;text-align: right;">
                <h3 style="font-size:17px;font-weight: bold;">174 Pts.</h3>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-avatar slot="start">
                <img src="./../../assets/img/skills.png">
            </ion-avatar>
            <ion-label style="width:300px">
                <h2>Ignasio Perez</h2>
                <p>Programacion Básica</p>
            </ion-label>
            <ion-label slot="end" style="color:crimson;text-align: right;">
                <h3 style="font-size:17px;font-weight: bold;">115 Pts.</h3>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-avatar slot="start">
                <img src="./../../assets/img/skills.png">
            </ion-avatar>
            <ion-label style="width:300px">
                <h2>Esteban Beltrán</h2>
                <p>Programacion POO, Java</p>
            </ion-label>
            <ion-label slot="end" style="color:crimson;text-align: right;">
                <h3 style="font-size:17px;font-weight: bold;">96 Pts.</h3>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-avatar slot="start">
                <img src="./../../assets/img/skills.png">
            </ion-avatar>
            <ion-label style="width:300px">
                <h2>Ismael Gaviria</h2>
                <p>Programacion básica</p>
            </ion-label>
            <ion-label slot="end" style="color:crimson;text-align: right;">
                <h3 style="font-size:17px;font-weight: bold;">49 Pts.</h3>
            </ion-label>
        </ion-item>

        <ion-list-header>
            Fin de Resultados
        </ion-list-header>


    </ion-list>

</ion-content>
