<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            <ion-item>
                <ion-label>Perfil</ion-label>
                <ion-toggle [(ngModel)]="isEditable"></ion-toggle>
            </ion-item>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
    <!--CARD DE DESCRIPCION DE PERFIL-->
    <app-profile-view [IsEditable]="isEditable"></app-profile-view>
</ion-content>