<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title>
			Makuruma Chat
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-list-header>
		Interesados en tutoría
	</ion-list-header> 
	<ion-item>
		<ion-avatar slot="start">
			<img src="./../../assets/img/artesano.png" alt="icono" height="120" width="100"/>
		</ion-avatar>
		<ion-label>
			<h2>Sharon Reyes</h2>

			<b><p>Hola, estoy interesado en tu...</p></b>
			<!--<ion-badge style="position: right">1</ion-badge> -->
			<ion-badge slot="end" style="color:azure;text-align: right;">
                <h6 style="font-size:15px;font-weight: bold;">1</h6>
            </ion-badge>
		</ion-label>
	</ion-item>

	<ion-item>
		<ion-avatar slot="start">
			<img src="./../../assets/img/artesano.png" alt="icono" height="120" width="100"/>
		</ion-avatar>
		<ion-label>
			<h2>Jose Lopez</h2>

			<p>Gracias</p>
		</ion-label>
	</ion-item>

	<ion-item>
          <ion-avatar slot="start">
            <img src="./../../assets/img/artesano.png" alt="icono" height="120" width="100"/>
          </ion-avatar>
          <ion-label>
            <h2>Juan Fernando Quintero</h2>
            
            <p>De acuerdo</p>
          </ion-label>
        </ion-item>

</ion-content>