<ion-header>
  <ion-toolbar>
    <ion-title>Registra tu Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-profile-view [IsEditable]="IsEditable"></app-profile-view>
</ion-content>
